.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
.link:hover {
  color: var(--link-active);
}

.linkActive {
  color: var(--link-active);
  border-bottom: 2px solid var(--link-active);
}
